

# Logs
*.log

# Caches
.cache/
*.cache

# Python
__pycache__/
*.pyc

# Node.js
node_modules/

# Environment files
.env

# Neovim
nvim/session/

# Shell history
.history

# macOS
.DS_Store

# Editor temporary files
*.swp
*.swo
*~

# Backup files
*.bak
