
/* ~/.config/waybar/style.css */

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 12px;
    border: none;
    border-radius: 0;
    min-height: 0;
    padding: 0;
    margin: 0;
}

window#waybar {
    background: rgba(30, 30, 46, 0.88);
    color: #cdd6f4;
    border-radius: 5px;
    border: 1px solid rgba(137, 180, 250, 0.25);
    min-height: 24px;
}

/* ── Workspaces ─────────────────────────────────────────── */
#workspaces {
    margin: 0;
    padding: 0;
}

#workspaces button {
    padding: 1px 8px;
    margin: 0;
    color: #cdd6f4;
    background: transparent;
    border-radius: 6px;
    transition: all 0.2s ease;
}

#workspaces button:hover {
    background: rgba(137,180,250,0.25);
    color: #ffffff;
}

#workspaces button.active {
    background: #89b4fa;
    color: #1e1e2e;
    font-weight: bold;
}

#workspaces button.urgent {
    background: #f38ba8;
    color: #1e1e2e;
}

/* ── Clock ──────────────────────────────────────────────── */

#clock {
    padding: 0 14px;
    font-weight: 700;
    color: #89b4fa;
}

/* ---YouTube Music, Spotify, browsers, etc.,  MPRIS module --- */
#mpris {
    padding: 0 14px;
    margin: 0 6px;
    color: #89dceb;
    font-weight: 600;
}




/* ── Right modules shared style ─────────────────────────── */

#pulseaudio,
#network,
#bluetooth,
#battery,
#tray {
    padding: 0 10px;
    margin: 0 1px;
    /* border-radius: 8px;
     background: rgba(255, 255, 255, 0.05);*/
    color: #cdd6f4;
}



/* ── Audio ──────────────────────────────────────────────── */

#pulseaudio {
    color: #cba6f7;
}

#pulseaudio.muted {
    color: #6c7086;
}

/* ── Network ────────────────────────────────────────────── */

#network {
    color: #94e2d5;
}

#network.disconnected {
    color: #f38ba8;
}

/* ── Battery ────────────────────────────────────────────── */

#battery {
    color: #a6e3a1;
}

#battery.charging {
    color: #a6e3a1;
}

#battery.warning:not(.charging) {
    color: #fab387;
}

#battery.critical:not(.charging) {
    color: #f38ba8;
    animation: blink 1s linear infinite;
}

@keyframes blink {
    to {
        color: #ffffff;
    }
}

/* ── Bluetooth ───────────────────────────────────────────────── */
#bluetooth {
    color: #6c7086;
    min-width: 22px;
    padding: 0 14px;
    font-size: 15px;
   
}

#bluetooth.connected {
    color: #89b4fa;
}
/* ── Tray ───────────────────────────────────────────────── */

#tray {
    padding: 0 8px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background: #f38ba8;
}
